# Настройки сервера
server:
  port: 0

# Основные настройки
spring:
  application:
    name: main-service
  config:
    activate:
      on-profile: default
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        default_schema: public
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5433/main-db
    username: dbuser
    password: 12345
  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss

# Настройки логирования
logging:
  level:
    ru.practicum.stats: INFO
    org.springframework.transaction.interceptor: TRACE

---
# Настройки для профиля test
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:main-db
    username: dbuser
    password: 12345