server:
  port: 0

grpc:
  server:
    port: 0

# Spring и Kafka
spring:
  application:
    name: analyzer

  # База данных
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always
      continue-on-error: true

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/stats-db
    username: dbuser
    password: 12345

  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss

  # ========== НАСТРОЙКИ KAFKA CONSUMER ==========
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: analyzer-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: ru.practicum.mapping.UserActionDeserializer
      properties:
        spring.json.trusted.packages: "*"
        max.poll.records: 100
        heartbeat.interval.ms: 3000
        session.timeout.ms: 45000

    listener:
      missing-topics-fatal: false
      concurrency: 1
      poll-timeout: 3000

# ========== НАСТРОЙКИ EUREKA ==========
eureka:
  instance:
    hostname: ${HOSTNAME:localhost}
    instance-id: ${spring.application.name}:${random.value}
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    register-with-eureka: true
    fetch-registry: true
    healthcheck:
      enabled: true
    should-enforce-registration-at-init: false

# ========== НАСТРОЙКИ MANAGEMENT ==========
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true

# ========== НАСТРОЙКИ ЛОГГИРОВАНИЯ ==========
logging:
  level:
    ru:
      practicum:
        analyzer: WARN
        practicum: WARN

    # ========== GRPC логгирование ==========
    io:
      grpc: WARN
    net:
      devh:
        boot:
          grpc: WARN

    # ========== KAFKA логгирование ==========
    org:
      apache:
        kafka: WARN
        kafka.clients:
          consumer: WARN
          producer: WARN
          consumer.internals:
            ConsumerCoordinator: WARN
            Fetcher: WARN
          producer.internals:
            Sender: WARN
            RecordAccumulator: WARN
            TransactionManager: WARN
      springframework:
        kafka: WARN
        kafka.listener: WARN
        kafka.config: WARN

      # ========== Hibernate логгирование ==========
      hibernate:
        SQL: WARN
        type.descriptor.sql.BasicBinder: WARN
