# Основные настройки (профиль по умолчанию)
spring:
  application:
    name: stats-server
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/stats-db
    username: dbuser
    password: 12345
  mvc:
   format:
     date-time: yyyy-MM-dd HH:mm:ss

# Настройки сервера
server:
  port: 0

# Настройки логирования
logging:
  level:
    ru.practicum.stats: INFO

---
# Настройки для профиля test
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:stats-db
    username: dbuser
    password: 12345